*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  background-color: #c1c7d0;
}

.container {
  display: grid;
  margin-top: -10%;
}

.card1-container {
  width: 90%;
  background: #fff;
  margin: auto;
}

section .container {
  margin-top: 0;
}

.dsk-top-nav {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  padding: 20px;
}

.logo-fa {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo-link {
  color: #6070ff;
  margin: 2%;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.intro {
  display: flex;
  flex-direction: column;
  padding-top: 15%;
  border-radius: 1%;
  margin: 0 24px 0 24px;
  background-image: url(images/header-shapes\ mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Styles for the h1 and p */

.hero {
  display: flex;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 0;
  align-items: center;
  font-style: normal;
}

.hero:hover {
  animation-name: greet-message;
  animation-duration: 6s;
  animation-delay: 1s;
}

@keyframes greet-message {
  from { color: #172b4d; }
  to { color: rgb(255, 105, 180); }
}

.message {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connent-icons {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  gap: 10px;
  padding-left: 0;
  align-items: baseline;
}

.connent-icons li > a > img:hover {
  transform: scale(1.2);
}

.connect {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.connect a {
  text-decoration: none;
  color: #7f8cff;
}

/* Works sections starts here */

.card2 {
  background: #fff;
  margin: auto;
  margin-top: 8%;
  border-radius: 16px;
  border: solid 1px #dfe1e6;
  padding-bottom: 15%;
}

.section-image {
  margin: 16px;
  padding-right: 30px;
}

h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #172b4d;
  margin-left: 16px;
}

.skills {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-left: 16px;
  gap: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.card2-p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  margin-left: 16px;
  color: #344563;
}

.lang {
  display: flex;
  gap: 10px;
  list-style: none;
  color: #6070ff;
  padding-left: 16px;
}

.lang li {
  background: #ebebff;
  padding: 4px 12px;
  border-radius: 15%;
}

.btn {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-left: 16px;
  background: #fff;
  color: #396df2;
  font-size: 17px;
  line-height: 24px;
  border: solid 1px #dfe1e6;
  padding: 10px;
  border-radius: 16%;
  width: fit-content;
}

.btn-h:hover {
  color: #396df2;
  animation-name: button-color;
  animation-duration: 4s;
  animation-delay: -1s;
  animation-iteration-count: 3;
}

@keyframes button-color {
  from { background-color: #fff; }
  to { background-color: rgb(255, 105, 180); }
}

.btn-h:visited {
  color: #396df2;
  text-decoration: underline;
}

.btn-h:active {
  text-decoration: underline;
}

.about-intro {
  display: flex;
  flex-direction: column;
  padding-top: 15%;
  border-radius: 1%;
  margin: 0 24px 0 24px;
  margin-top: 40px;
}

.card3-items {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: solid 1px #dfe1e6;
}

.fa-chevron-down {
  align-self: center;
}

.fa-chevron-right {
  align-self: center;
}

.about-p {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.lang-list {
  display: flex;
  flex-direction: column;
}

.first-lang {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 30px;
  background: #f7f7f9;
  padding: 10px;
  border-radius: 5px;
}

/* Contact form starts here */
.form-section {
  background-image: url(images/Contact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(images/contact\ form\ shapes-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
}

.contact-h2 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  font-size: 40px;
  line-height: 52px;
  padding-top: 20%;
  margin-left: 20%;
  margin-right: 10%;
  text-align: justify;
  width: fit-content;
}

.contact-p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  padding: 0 16px;
}

form {
  margin-top: 40px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.form-ul {
  list-style: none;
  margin-left: 0;
}

.form-ul li {
  margin-bottom: 20px;
  margin-right: 40px;
  margin-left: -5%;
}

input {
  width: 100%;
  padding: 15px;
  border: 1px solid #cfd8dc;
  border-radius: 4px;
}

textarea {
  width: 100%;
  padding: 15px 16px 80px 16px;
  border-radius: 4px;
}

.form-btn {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  padding: 12px 16px;
  margin-left: 16px;
  border-radius: 16%;
  width: fit-content;
  margin-bottom: 20px;
  border: 1px solid #6070ff;
}

.form-btn:hover {
  background-color: rgb(255, 105, 180);
}

.bottom-line {
  width: 124px;
  height: 5px;
  background-color: #0d151e;
  margin: auto;
  border-radius: 10px;
}

::placeholder {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

.mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 900px;
  background-color: #6070ff;
  transform: translateY(-200%);
  list-style: none;
  padding-top: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  transition: transform 0.5s;
  opacity: 0.9;
}

.showMenu {
  transform: translateY(0);
}

.hamburger {
  position: fixed;
  top: 3%;
  margin-right: 24px;
  z-index: 100;
  right: 0;
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 30px;
  background-color: #6070ff;
}

.hamb {
  color: blue;
  margin-top: 10px;
}

.nav-tag {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  margin-top: 20px;
  cursor: pointer;
}

.menuMenu {
  list-style: none;
}

.menuMenu a {
  color: #fff;
  text-decoration: none;
}

.menuMenu:hover {
  opacity: 2;
}

.closeIcon {
  position: fixed;
  z-index: 100;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: -10px;
}

.modal-mid-sec {
  width: 100%;
}

.modal-sec-ul {
  list-style: none;
  display: flex;
  gap: 5px;
  padding-left: 0;
}

.modal-sec-p {
  width: 100%;
  margin-right: 5%;
  padding: 10px;
}

.modal-img-container {
  height: 250px;
  background-image: url(images/modal-image.png);
  background-position: center;
  background-size: cover;
}

#modal-img-container {
  background-image: url(images/popdesktimage.png);
}

.mfl-dev {
  padding-right: 14%;
}

.modal-first-li {
  display: flex;
  gap: 10px;
  padding: 0;
  margin-left: -20px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #7a869a;
}

.modal-first-ul {
  display: flex;
  list-style: none;
  margin-top: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.modal-close-button {
  position: fixed;
  color: #67798e;
  right: 10%;
  padding-top: 10%;
}

.modal-h2 {
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.modal-sec-li {
  background-color: #ebebff;
  padding: 10px;
  border-radius: 4px;
  font-family: PPoppins, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #6070ff;
}

.modal-button {
  display: flex;
  gap: 10px;
}

.modal-button button {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  padding: 10px;
  color: #396df2;
  border-radius: 5px;
}

.modal-btn {
  background-color: #e5e5e5;
  border: 1px solid #ebecf0;
}

#mobile-popup-container {
  display: none;
  background-color: #fff;
  margin: 0;
  padding: 1.3rem 1.2rem;
  text-align: left;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  height: 100vh;
  width: 100%;
  overflow: auto;
}

.container-modal {
  width: 80%;
  border: 1px solid #ebecf0;
  background-color: #fff;
  margin: auto;
  padding: 8%;
  margin-top: 5%;
}

.modal-pop-dsk-img {
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 1000px) {
  .dsk-top-nav {
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .dsk-top-nav:hover {
    text-decoration: underline;
  }

  nav .hamb {
    display: none;
  }

  .navbar {
    margin: 40px;
  }

  .intro {
    background-image: url(images/Header\ bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero {
    margin: 0 250px;
  }

  .message {
    margin: 20px 250px;
  }

  .connect {
    margin: 20px 250px;
  }

  .connent-icons {
    margin: 20px 250px;
  }

  .card2 {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 5%;
  }

  .about-dsk-top {
    display: flex;
    justify-content: space-between;
  }

  .mobile {
    display: none;
  }

  .about-dsk-top-1 {
    width: 40%;
    margin: 20px 50px;
  }

  .about-intro {
    padding-top: 5%;
  }

  #message-p {
    margin: 0;
    padding: 10px;
  }

  #hero-abt {
    margin: 0;
    padding: 10px;
  }

  #connect-abt {
    margin: 0;
    padding: 10px;
  }

  #connect-icons-abt {
    margin: 0;
    padding: 20px 0;
  }

  .btn {
    margin: 0;
  }

  .card3-items {
    margin: 0;
  }

  .about-dsk-top-2 {
    width: 50%;
    margin: 50px;
  }

  .lang-list {
    display: flex;
  }

  .first-lang-abt {
    display: flex;
    gap: 10px;
    width: 50%;
  }

  .first-lang {
    flex-direction: column;
    gap: 0;
    padding: 5px;
    width: 122px;
    height: 120px;
  }

  .form-section {
    margin-top: 10%;
    background-image: url(images/contact-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact-section {
    background-image: url(images/contact\ form\ background\ shapes.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .contact-cont {
    width: 50%;
    align-self: center;
  }

  .form-btn {
    align-self: center;
  }

  .bottom-line {
    display: none;
  }

  .contact-p {
    text-align: center;
  }

  .nav-tag {
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-top: 100px;
  }

  .modal-close-button {
    position: relative;
    color: #67798e;
    right: 0;
    top: -33px;
    cursor: pointer;
    font-size: 2em;
  }

  .modal-first-ul {
    display: flex;
    list-style: none;
    margin-top: 0;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    gap: 30px;
  }

  .modal-mid-sec {
    display: flex;
  }

  .modal-sec-ul-button {
    padding-top: 5%;
  }

  #desktop-popup-container {
    position: fixed;
    display: none;
    right: 50%;
    left: 20%;
    top: -5%;
    width: 60%;
    height: 100%;
    background-color: #fff;
  }

  .container-modal {
    display: none;
    width: 80%;
    border: 1px solid #ebecf0;
    background-color: #fff;
    margin: auto;
    padding: 8%;
    margin-top: 5%;
  }
}

@media all and (max-width: 992px) {
  .container {
    margin: auto;
  }

  .works-section {
    margin: auto;
  }
}
